@charset "UTF-8";

/* Index */

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #000;
    text-align: center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    
}

main#container__first {
    border-width: 0px 10px 10px 10px;
    border-style: solid;
    border-color: #222222;
    max-width: 670px;
    height: 440px;
    margin: 0 auto;
    border-radius: 0px 0px 20px 20px;
}

h1 {
    padding: 15px;
    font-size: 2.5em;
}

img.thumb {
    height: auto;
    width: 230px;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
    transition: .5s;
}

img.thumb:hover {
    transform: scale(1.1);
}

/* Demais páginas */

main#container__second {
    max-width: 700px;
    height: 600px;
    border-width: 0px 10px 10px 10px;
    border-style: solid;
    border-color: #222222;
    margin: 0 auto;
    border-radius: 0px 0px 20px 20px;
    padding: 0px 20px 0px 20px;
    
}

div.video {
    width: 100%;
    padding-top: 56.25%; 
    position: relative;
}

div.video > iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 10px;
    background-color: #444444;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color:#444444;
}

p {
    font-weight: bold;
    padding: 15px 0px 5px 0px;
}

img.button {
    transition: .5s;
}

img.button:hover {
    transform: scale(1.1);
}

@media (max-width:600px){
	
    body {
        background-color: #000000;
    }

    main#container__first {
        border: none;
        height: 100%;
        padding-bottom: 40px;
    }

    main#container__second {
        border: none;
        height: 100%;
    }

    img.thumb {
        width: 85%;
    }

    img.botton {
        width: 45px;
    }
}






